# This .htaccess file removes the index.php before each URI
# and enables accessing our user_guide, js, css and img folders
RewriteEngine on
RewriteBase /sedmataposoka/
# Protect application and system files from being viewed when the index.php is missing
RewriteCond $1 ^(application|system|private|logs)

# Rewrite to index.php/URL
RewriteRule ^index\.php/?$ / [L,R=301,NC]

RewriteCond $1 !^(index\.php|user_guide|js|css|img)

# TODO: The string "/sedmataposoka" may cause migration problems
RewriteRule ^(.*)$ /sedmataposoka/sedmataposoka/index.php/$1 [L]

#RewriteRule ^(.*)$ /index.php/$1 [L]