/* Hold all css related to admin part */

/* Separate classes */
.visually-hidden{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Log in page */
.log-in-page h1{
	text-align: center;
}

/* Sign in form */
.form-signin{
	width : 300px;
	margin: 0 auto;
}


