/* Hold all css related to admin part */

/* Separate classes */
.visually-hidden{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Log in page */
.log-in-page h1{
	text-align: center;
}

/* Sign in form */
.form-signin{
	width : 300px;
	margin: 0 auto;
}

.captcha {
	display: none;
}

/*Header*/
.logo {
	margin: 5px 15px 0 0;
	height : 65px;
	width  : 84px;
	display: inline-block;
}
	.logo img {
		height: 100%;
		width : 100%;
	}

.log_out {
	float: right;
	margin: 20px 0 0;
}	

/*Container*/
.container_custom {
	padding: 100px 0 0;
}